In [11]:
import pandas as pd

data = pd.read_csv("./CAR DETAILS FROM CAR DEKHO.csv")
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [21]:
year_sort = data['year'].sort_values()  #년도를 정렬한 결과 1992년식부터 ~ 2020년식까지 있음
print(year_sort)

3334    1992
631     1995
2972    1996
61      1996
1669    1997
        ...
2137    2020
1432    2020
1774    2020
176     2020
3933    2020
Name: year, Length: 4340, dtype: int64

In [30]:
i = 1992
sum = 0
while i < 2021:
    result = len(data.loc[data['year'] == i])
    print(f"{i}년식 = {result} 대")
    sum += result
    i+= 1

print(f"총합 = {sum} 대")   #년도별 결과 , 총합 4340개로 column의 갯수와 맞음

1992년식 = 1 대
1993년식 = 0 대
1994년식 = 0 대
1995년식 = 1 대
1996년식 = 2 대
1997년식 = 3 대
1998년식 = 12 대
1999년식 = 10 대
2000년식 = 12 대
2001년식 = 20 대
2002년식 = 21 대
2003년식 = 23 대
2004년식 = 42 대
2005년식 = 85 대
2006년식 = 110 대
2007년식 = 134 대
2008년식 = 145 대
2009년식 = 193 대
2010년식 = 234 대
2011년식 = 271 대
2012년식 = 415 대
2013년식 = 386 대
2014년식 = 367 대
2015년식 = 421 대
2016년식 = 357 대
2017년식 = 466 대
2018년식 = 366 대
2019년식 = 195 대
2020년식 = 48 대
총합 = 4340 대

In [16]:
data['name'].str.split(" ").head()

0                 [Maruti, 800, AC]
1    [Maruti, Wagon, R, LXI, Minor]
2         [Hyundai, Verna, 1.6, SX]
3       [Datsun, RediGO, T, Option]
4        [Honda, Amaze, VX, i-DTEC]
Name: name, dtype: object